body {
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    background-image: url("/background.jpg");
    background-size: cover;
}

div {
    width: 33%;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
    text-align: center;
}

#canvasDiv {
    height: 100%;
    background-color: azure;
    margin-top: 5%;
    border-radius: 8px;
}

#resultDiv {
    width: 33%;
    background-color: azure;
    border-radius: 8px;
    padding: 0px;
}

canvas {
    border: 1px solid;
}

input {
    background-color: azure;
    border: none;
    color: cornflowerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 32px;
    border-radius: 8px;
}

.progressDiv {
    display: block;
    width: 90%;
}

progress {
    width: 75%;
    height: 15%;
}

label {
    margin-right: 10px;
    margin-left: 10px;
}